/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';

html, body {
    margin: 0;
    height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url('https://i.pinimg.com/originals/f4/2b/21/f42b21a58659e434f6dcbe917f578603.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0C0224;
}


// Define your custom theme
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);

$custom-theme: mat-light-theme(
  $custom-primary,
  $custom-accent
);

// Apply the theme to the application
@include angular-material-theme($custom-theme);


.button-custom {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-custom:focus {
  outline: 0;
}

.button-custom:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-custom:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-custom {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab Regular';
  src: url('./assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FredokaOne';
  src: url('./assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}